* {
	margin:0;
}

body, html {
    height: 100%;
}

html {
	background-image: url("img/Fan.png");
	height: 100%;
	width: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.wrapper {
	width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    top: 0;
}

.block {
	width: 33.33%;
	float: left;
}

a {
	display: block;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none;
}

.block a {
	display: block;
    color: white;
    padding: 14px 16px;
    border: 1px solid grey;
    text-decoration: none; 
}
/*.block a:hover {
	color: red;
}

a:hover, a:link {
	text-decoration: none;
}

#active {
	background-color: red;
}

#active a {
	color: white;
}*/

.modal {
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: blue;
	width: 50%;
	height: 50%;
	margin: 0 auto;
	z-index: 2;
}

#close {
	height: 5%;
	width: 5%;
	float: right;
}

@media all and (max-width: 480px){
	.wrapper {
		width: 100%; 
	}

	.block{
		float: none;
		width: 100%;
	}
}

@media all and (min-width: 481px) and (max-width: 991px) {
	.wrapper {
		width: 100%; 
	}

	.block{
		float: left;
		width: 20%;
	}
}

@media all and (min-width: 992px){
	.wrapper {
		width: 100%; 
	}

	.block {
		float: left;
		width: 20%;
	}
}

